backend/IRBS.API/.vs/IRBS.API/FileContentIndex/3e6f3cb9-afda-476c-9684-648cd2471143.vsidx
backend/IRBS.API/.vs/IRBS.API/FileContentIndex/49ba5a1d-f5f2-4cc6-b6dc-577f0de3537d.vsidx
backend/IRBS.API/.vs/IRBS.API/FileContentIndex/96ce5cfe-0c96-4668-9800-7ccecfdad57c.vsidx
backend/IRBS.API/.vs/IRBS.API/FileContentIndex/d7a9088e-426a-4964-a725-87eaa5cde341.vsidx
backend/IRBS.API/.vs/IRBS.API/FileContentIndex/9600fc4f-6d22-4aa7-b647-ad15c3926d58.vsidx
backend/IRBS.API/.vs/IRBS.API/v18/.suo
