<nav class="navbar" [class.scrolled]="isScrolled">

  <div class="Logo-Section">
    <div class="">
      <img src="assets/subway.png" alt="engine" class="panel-engine-img" />
    </div>
    <div class="logo">IRBS</div>
  </div>

  <div class="nav-links" [class.active]="isMenuOpen">

    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-house-fill"></i> Home
    </a>

    <a routerLink="/trains" routerLinkActive="active">
      <i class="bi bi-train-front-fill"></i> Trains
    </a>

    <a routerLink="/flights" routerLinkActive="active">
      <i class="bi bi-airplane-fill"></i> Flights
    </a>

    <a routerLink="/buses" routerLinkActive="active">
      <i class="bi bi-bus-front-fill"></i> Buses
    </a>

    <a routerLink="/hotels" routerLinkActive="active">
      <i class="bi bi-buildings-fill"></i> Hotels
    </a>

    <a routerLink="/offers" routerLinkActive="active">
      <i class="bi bi-tags-fill"></i> Offers
    </a>
    </div>

    <div>
    <!-- 🔐 Logged In -->
  <ng-container *ngIf="auth.isLoggedIn$ | async; else guest">

    <div class="user-section">

      <span class="welcome-text">
        <i class="bi bi-person-fill-check"></i> Welcome <strong>{{ auth.userName$ | async }}</strong>
      </span>

      <button class="logout-btn" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i>
        Logout
      </button>

    </div>

  </ng-container>

  <ng-template #guest>
    <a routerLink="/login" class="login-btn" routerLinkActive="active">
      <i class="bi bi-person-circle"></i>
      <span>Login</span>
    </a>
  </ng-template>

  </div>

  <div class="menu-icon" (click)="toggleMenu()">☰</div>

</nav>