<div class="center-wrapper">

  <div class="auth-card">

    <!-- HEADER -->
    <div class="card-header">
      <h2>{{ isRegisterMode ? 'Create Account' : 'Welcome Back' }}</h2>
      <p>
        {{ isRegisterMode 
          ? 'Register to start booking your journey' 
          : 'Login to continue your journey' }}
      </p>
    </div>

    <!-- NAME -->
    <div *ngIf="isRegisterMode" class="form-group">
      <input type="text" [(ngModel)]="name" placeholder="Full Name">
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <input
        type="email"
        [(ngModel)]="email"
        placeholder="Email"
        (input)="checkEmail()"
      >

      <small *ngIf="!emailValid && email">
        <i class="bi bi-x-circle-fill"></i> Invalid email format
      </small>

      <small *ngIf="emailExistsError" style="color:red">
        <i class="bi bi-exclamation-triangle-fill"></i> Email already registered
      </small>
    </div>

    <!-- PASSWORD -->
    <div class="form-group password-field">

      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Password"
        (input)="checkPassword()"
      >

      <!-- Strength -->
      <div class="strength-bar" *ngIf="isRegisterMode">
        <div [style.width.%]="getStrength()"></div>
      </div>

      <!-- RULES -->
      <div class="rules" *ngIf="isRegisterMode">
        <p [class.valid]="hasMinLength()">8+ chars</p>
        <p [class.valid]="hasUppercase()">Uppercase</p>
        <p [class.valid]="hasLowercase()">Lowercase</p>
        <p [class.valid]="hasNumber()">Number</p>
        <p [class.valid]="hasSpecial()">Special</p>
      </div>

    </div>

    <!-- CONFIRM -->
    <div *ngIf="isRegisterMode" class="form-group password-field">
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        placeholder="Confirm Password"
        (input)="checkMatch()"
      >

      <small [class.valid]="passwordsMatch">
        {{ passwordsMatch ? '✔ Passwords match' : 'Passwords do not match' }}
      </small>
    </div>

    <!-- BUTTON -->
    <button
      class="btn-login"
      (click)="onSubmit()"
      [disabled]="
        isLoading ||
        (isRegisterMode && (!passwordValid || !passwordsMatch || !emailValid))
      "
    >

      <span *ngIf="!isLoading">
        {{ isRegisterMode ? 'Create Account' : 'Login' }}
      </span>

      <div *ngIf="isLoading" class="train-loader">
        <div class="track"></div>
        <div class="mini-train">
          <div class="engine"></div>
          <div class="coach"></div>
          <div class="coach"></div>
        </div>
      </div>

    </button>

    <!-- SWITCH -->
    <p (click)="toggleMode()" class="switch">
      {{ isRegisterMode ? 'Already have an account? Login' : 'Create new account' }}
    </p>

  </div>

</div>