.seat-grid {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 10px;
  margin-top: 20px;
}

.seat-grid div {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
}

/* STATES */
.available {
  background: #e3f2fd;
}

.selected {
  background: #4caf50;
  color: white;
}

.booked {
  background: red;
  color: white;
  pointer-events: none;
}